<%= form_with(model: shifting, local: true) do |form| %>
  <% if shifting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shifting.errors.count, "error") %> prohibited this shifting from being saved:</h2>

      <ul>
      <% shifting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :motif %>
    <%= form.text_field :motif %>
  </div>

  <div class="field">
    <%= form.label :vehicule_id %>
    <%= form.text_field :vehicule_id %>
  </div>

  <div class="field">
    <%= form.label :departure %>
    <%= form.text_field :departure %>
  </div>

  <div class="field">
    <%= form.label :arrival %>
    <%= form.text_field :arrival %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
