<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @vehicle_model.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @vehicle_model.name %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @vehicle_model.manufacturer %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @vehicle_model.vehicle_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vehicle_model.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @vehicle_model.user %>
</p>

<%= link_to 'Edit', edit_vehicle_model_path(@vehicle_model) %> |
<%= link_to 'Back', vehicle_models_path %>
