<%= form_with(model: insurance, local: true) do |form| %>
  <% if insurance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(insurance.errors.count, "error") %> prohibited this insurance from being saved:</h2>

      <ul>
      <% insurance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :insurer_id %>
    <%= form.text_field :insurer_id %>
  </div>

  <div class="field">
    <%= form.label :vehicule_id %>
    <%= form.text_field :vehicule_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :insurance_number %>
    <%= form.text_field :insurance_number %>
  </div>

  <div class="field">
    <%= form.label :pre_tax_amount %>
    <%= form.text_field :pre_tax_amount %>
  </div>

  <div class="field">
    <%= form.label :vat_rate %>
    <%= form.text_field :vat_rate %>
  </div>

  <div class="field">
    <%= form.label :amount_including_tax %>
    <%= form.text_field :amount_including_tax %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
