<p id="notice"><%= notice %></p>

<h1>Insurers</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Country</th>
      <th>City</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insurers.each do |insurer| %>
      <tr>
        <td><%= insurer.uid %></td>
        <td><%= insurer.name %></td>
        <td><%= insurer.address %></td>
        <td><%= insurer.phone %></td>
        <td><%= insurer.email %></td>
        <td><%= insurer.country %></td>
        <td><%= insurer.city %></td>
        <td><%= insurer.status %></td>
        <td><%= insurer.user %></td>
        <td><%= link_to 'Show', insurer %></td>
        <td><%= link_to 'Edit', edit_insurer_path(insurer) %></td>
        <td><%= link_to 'Destroy', insurer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insurer', new_insurer_path %>
