<p id="notice"><%= notice %></p>

<h1>Consumptions</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Vehicle</th>
      <th>Driver</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Status</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consumptions.each do |consumption| %>
      <tr>
        <td><%= consumption.uid %></td>
        <td><%= consumption.vehicle %></td>
        <td><%= consumption.driver %></td>
        <td><%= consumption.quantity %></td>
        <td><%= consumption.unit %></td>
        <td><%= consumption.status %></td>
        <td><%= consumption.description %></td>
        <td><%= consumption.user %></td>
        <td><%= link_to 'Show', consumption %></td>
        <td><%= link_to 'Edit', edit_consumption_path(consumption) %></td>
        <td><%= link_to 'Destroy', consumption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consumption', new_consumption_path %>
