<p id="notice"><%= notice %></p>

<h1>Maintenance Types</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Status</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenance_types.each do |maintenance_type| %>
      <tr>
        <td><%= maintenance_type.uid %></td>
        <td><%= maintenance_type.name %></td>
        <td><%= maintenance_type.status %></td>
        <td><%= maintenance_type.description %></td>
        <td><%= maintenance_type.user %></td>
        <td><%= link_to 'Show', maintenance_type %></td>
        <td><%= link_to 'Edit', edit_maintenance_type_path(maintenance_type) %></td>
        <td><%= link_to 'Destroy', maintenance_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maintenance Type', new_maintenance_type_path %>
