 <% @vehicles.each do |vehicle| %>
    <tr>
        
        <td><%= vehicle.vehicle_model %></td>
        <td><%= vehicle.chassis_number %></td>
        <td><%= vehicle.immatriculation_number %></td>
        <td><%= vehicle.color %></td>
      
        <td><%= vehicle.driver %></td>
        <td><%= vehicle.park %></td>
        <td>
	    <div class="action-buttons">
			<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_vehicle_path(vehicle), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), vehicle_delete_path(vehicle), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>