<p id="notice"><%= notice %></p>

<p>
  <strong>Expense type:</strong>
  <%= @expense.expense_type %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @expense.uid %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @expense.fee %>
</p>

<p>
  <strong>Status:</strong>
  <%= @expense.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @expense.user %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
