<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @site.uid %>
</p>

<p>
  <strong>Title:</strong>
  <%= @site.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @site.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @site.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @site.user %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
